<div class="tab-content">

    <div role="tabpanel" class="tab-pane active" id="details">
        {% if instance_status %}
            {% if instance_details['services'] %}
        <div class="table-responsive">
            <br>
            <h4>Detailed Services</h4>
            <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">Name</th>
                <th scope="col">External IP</th>
                <th scope="col">Cluster IP</th>
                <th scope="col">Ports</th>
                <th scope="col">URL</th>
                </tr>
            </thead>
            <tbody>
                {% for service in instance_details['services'] %}
                <tr>
                {% set addr = 'http://' +service['externalIP'] + ':' + service['ports'].split(':')[1].split('/')[0] %}
                <td>{{service['name']}}</td>
                <td><a href="{{addr}}" target="_blank">{{service['externalIP']}}</a></td>
                <td>{{service['clusterIP']}}</td>
                <td>{{service['ports']}}</td>
                <td><a href="{{service['url']}}" target="_blank">{{service['url']}}</a></td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
            {% endif %}
        <br>

        {%include 'instance_profile_pod_details.html'%}

        <br>

        {%include 'instance_profile_monitoring.html'%}

        <br>
        {% else %}
        <h1>Detailed services information currently not available</h1>
        {% endif %}
    </div>

    <!-- CONFIGURATION TAB PANEL -->
    <div role="tabpanel" class="tab-pane fade" id="configuration">
        <br>
        <!-- <h3>Configuration</h3> -->
        <pre>{% if instance_details['metadata']['configuration'] %}{{instance_details['metadata']['configuration']}}{% else %}Configuration currently unavailable{% endif %}</pre>
    </div>
    <!-- INSTANE LOG TAB PANEL -->
    <div role="tabpanel" class="tab-pane fade" id="logs">
        <br>
        <!-- <h3>Logs</h3> -->
        <div id='instance-logs'>
            <span v-if='loading'>Loading Data <i class="fas fa-sync fa-spin"></i></span>
            <span v-if='failed'>Failed to load the data, please refresh the page <i class="far fa-times-circle"></i></span>
            <pre v-else class="app-logs">{[{instance_logs.logs}]}</pre>
        </div>
    </div>

</div>